* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

/* Add styles here! */

.max-width-wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 800px;
}

header {
  border-bottom: 8px solid #999999;
}

.intro-chunk {
  max-width: 415px;
  padding: 96px 0 64px 0;
  margin: 24px;
}

.title {
  margin-bottom: 48px;
}

p {
  font-size: 20px;
}

strong {
  color: #009966;
}

main {
  background-color: #666666;
}


.card {
  background-color: white;
  padding: 24px;
  border-bottom: 8px solid #999999;
}

.indented-heading {
  background-color: #FFBF00;
  margin-top: -16px;
  margin-left: -32px;
  padding: 16px 32px;
  max-width: fit-content;
  border-bottom: 8px solid #CC9900;
}
